<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <base href="/">
        <title>Auto Scraper</title>
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <link rel="stylesheet" href="css/config_css/bootstrap.min.css">
        <link rel="stylesheet" href="css/config_css/config_css.css">
        <link rel="stylesheet" href="css/analyze_css/analyze.css">
        script.
            host_ =  "#{host}";
            uid_  = "#{uid}";
            url_post_part_ =  "#{url_post_part}";
            root_port = "#{ root_port }";
            root_ip = "#{ root_ip }";

        <script src="js/config_js/jquery.js"></script>
        <script src="js/config_js/bootstrap.js"></script>
        <script src="js/analyze_js/analyze_page_pre.js"></script>
    </head>
    <body class="" style="height:auto;min-height:100%" cz-shortcut-listen="true">
        <div class="page-loader"></div>
        <div class="box-body-">
            <iframe id="analyze_page" class="analyze-page" src="#"></iframe>
        </div>
        <script src="js/analyze_js/analyze_page_post.js"></script>
    </body>
</html>